In [1]:
### Company Valuation Walk Through ####
# Use yfiannce to get company statements 

import json 
import numpy as np 
import pandas as pd 
import datetime as dt 
import yfinance as yf 
import sqlite3 as sql
from tqdm import tqdm

In [99]:
stock = 'gme'
tick = yf.Ticker(stock)
bs = tick.quarterly_balance_sheet
income = tick.quarterly_income_stmt
cf = tick.quarterly_cash_flow
ed = tick.earnings_dates

names = ['balance_sheet', "income_statement", "cashflow", "earnings"]
lodfs = [bs.T, income.T, cf.T, ed]
# lodfs = [df.reset_index() for df in lodfs]

##### Get the data by storing each of the above dataframes in a dictionary with the stock as the key #####
d = {stock: {name: df for name, df in zip(names, lodfs)}}

In [91]:
# with open('data.json', 'w') as f:
#     json.dump(d, f, indent=4)

In [100]:
import pickle

# save as pickle
with open(f'{stock}.pkl', 'wb') as f:
    pickle.dump(d, f)

In [105]:
new_d = pickle.load(open(f'{stock}.pkl', 'rb'))

new_d['gme']['balance_sheet']

,Treasury Shares Number,Ordinary Shares Number,Share Issued,Total Debt,Tangible Book Value,Invested Capital,Working Capital,Net Tangible Assets,Capital Lease Obligations,Common Stock Equity,...,Other Current Assets,Inventory,Finished Goods,Receivables,Accounts Receivable,Allowance For Doubtful Accounts Receivable,Gross Accounts Receivable,Cash Cash Equivalents And Short Term Investments,Other Short Term Investments,Cash And Cash Equivalents
2024-01-31,NaN,305700000.0,305700000.0,602800000.0,1338600000.0,1367100000.0,1039700000.0,1338600000.0,574300000.0,1338600000.0,...,51400000.0,632500000.0,632500000.0,91000000.0,91000000.0,-4400000.0,95400000.0,1199300000.0,277600000.0,921700000.0
2023-10-31,0.0,305500000.0,305500000.0,614200000.0,1262800000.0,1293300000.0,939000000.0,1262800000.0,583700000.0,1262800000.0,...,57700000.0,1021300000.0,1021300000.0,88300000.0,88300000.0,-2100000.0,90400000.0,1209500000.0,300500000.0,909000000.0
2023-07-31,NaN,305200000.0,305200000.0,635200000.0,1267200000.0,1301800000.0,933800000.0,1267200000.0,600600000.0,1267200000.0,...,58000000.0,676900000.0,676900000.0,75600000.0,75600000.0,-2200000.0,77800000.0,1194700000.0,300000000.0,894700000.0
2023-04-30,NaN,304700000.0,304700000.0,650500000.0,1271600000.0,1308800000.0,935100000.0,1271600000.0,613300000.0,1271600000.0,...,65800000.0,759500000.0,759500000.0,119200000.0,119200000.0,-2200000.0,121400000.0,1310100000.0,253100000.0,1057000000.0
2023-01-31,NaN,304600000.0,304600000.0,616600000.0,1322300000.0,1361800000.0,984600000.0,1322300000.0,577100000.0,1322300000.0,...,96300000.0,682900000.0,682900000.0,153900000.0,153900000.0,-2200000.0,156100000.0,1390600000.0,251600000.0,1139000000.0